.header {
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: space-around;
  padding: 20px;
  height: 60px;
}

.navigate {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.navigate span {
  color: var(--white);
}
.navigate img {
  cursor: pointer;
}

.logo {
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.options_list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  align-items: center;
}

.options_list li {
  color: var(--white);
  cursor: pointer;
}

.options_list button {
  color: var(--white);
  border: 1px solid var(--white);
  padding: 8px 16px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
}
.options_list button:hover {
  background-color: var(--white);
  color: #000;
}

.footer {
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: space-around;
  padding: 20px;
}
