.header {
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: space-around;
  padding: 20px;
  height: 60px;
}

.navigate {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.navigate span {
  color: var(--white);
}
.navigate img {
  cursor: pointer;
}

.logo {
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.options_list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  align-items: center;
}

.options_list li {
  color: var(--white);
  cursor: pointer;
}

.options_list button {
  color: var(--white);
  border: 1px solid var(--white);
  padding: 8px 16px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
}
.options_list button:hover {
  background-color: var(--white);
  color: #000;
}

.footer {
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: space-around;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .navigate {
    gap: 10px; 
  }

  .desktop-menu {
    display: none; 
  }

  .mobile-menu-icon {
    display: block;
    cursor: pointer;
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
  }

  .header.mobile-menu {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .header.mobile-menu .navigate {
    justify-content: space-between; 
    width: 100%; 
  }

  .header.mobile-menu .desktop-menu.hidden {
    display: flex; 
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--blue);
    width: 100%;
  }

  .header.mobile-menu .desktop-menu.hidden li {
    padding: 10px; 
    text-align: center;
  }
}