
.box_zoom {
    text-align: center;
    overflow: hidden; 
    margin: 20px;
    display: flex;
    color: var(--blue);
    gap: 10px;
  }
  
  .box_zoom img {
    width: 450px; 
    border-radius: 5px;
  }
  