@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

:root { 
  --orange: #FE6613;
  --gray: #787878;
  --blue: #1B2653;
  --white: #FDFEFF;
}


.exercises {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content: center;
  margin-top: 29px;
  gap: 40px;
}
